@import "../fonts";
$primary: #E15563;
$secondary: #B4B4B4;
$yellow: #FFFDEF;
$background: #0e1217;
body {
    margin: 0;
    padding: 0;
    background: $background;
}
*{
    box-sizing: border-box;
    font-family: "OswaldExtraLight";
}
.main-wrapper{
    
}
.meetup-container{
    position: relative;
    &:before{
        content: "";
        width: 30rem;
        height: 30rem;
        border-radius: 30rem;
        position: absolute;
        z-index: -1;
        left: -4rem;
        top: -3rem;
        background: #E1556333;
        // background: radial-gradient(#E1556366 , transparent 50%);
    }
}
.paneliste-head{
    color: #fff;
    padding: 10px;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
    &:before{
        content: "";
        width: 100%;
        height: 1px;
        background-color: $primary;
        bottom: 0;
        position: absolute;
        left: 1.5rem;
    }
}
.header-bg{
    position: fixed;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.header-overlay{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.8);
    
    &.live{
        background: rgb(94, 94, 94, 0.8);

    }
}
.yt {
    position: relative;
    display: flex;
    width: 100vw; /* width of iframe wrapper */
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.yt iframe {
    width: 70%;
    height: 80%;
}
.home-head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 30px;
    gap: 5rem;
    flex: 1;
    position: relative;
    z-index: 5;
}
.main-header{
    width: 100%;
    height: 100%;
    
}
.navigation{
    display: flex;
    padding: 20px 30px;
    position: relative;
    z-index: 5px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    .logo-text{
        margin: 0;
        font-size: 3rem;
        font-family: "OswaldBold";
        line-height: 2.5rem;
    }
    .logo-tagline{
        font-size: 0.8rem;
    }
}
.tagline{
    font-size: 3.5rem;
    color: #fff;
    padding: 30px 0px;
    font-family: "OswaldBold";
    *{
        font-family: "OswaldBold";
    }
    span{
        color: $primary;

    }
}
.meetup-infos{
    padding-bottom: 30px;
    color: #fff;
    .title{
        font-size: 3rem;
    }
    .date{
        font-size: 1.5rem;
        color: #fff;
        font-weight: bold;
        text-shadow: 0px 0px 5px #000;
        span{
            color: $primary;
            font-size: 2rem;
        }
    }
}
.talks{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    position: relative;
    color: #fff;
    &:before{
        content: "";
        width: 2px;
        height: 10em;
        background: linear-gradient(to top, transparent, #fff);
        position: absolute;
        left: 0px;
    }
    .talk{
        display: flex;
        gap: 1rem;
        .speaker-cover{
            height: 100px;
            width: 100px;
            position: relative;
            min-width: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100px;
            }
        }
        .talk-details{
            .talk-title{
                font-family: "OswaldBold";
                font-size: 1.5rem;
            }
            .speaker-name{
                font-size: 1.2rem;
            }
        }
    }
}
.meetup-badge{
    background: $secondary;
    color: #000;
    border-radius: 5px;
    padding: 2px 20px;
    display: inline-block;
    font-size: 0.8rem;
}

.panel-container{
    .panel-badge{
        background: $primary;
        color: #fff;
        border-radius: 5px;
        padding: 2px 20px;
        display: inline-block;
        font-size: 0.8rem;
    }
    .subject{
        h1{
            font-size: 3.5rem;
            line-height: 4rem;
            color: #fff;
            padding: 30px 0px;
            font-family: "OswaldBold"; 
            margin: 0;
        }
    }
    .panelistes{
        display: grid;
        padding-top: 30px;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 80%;
        .paneliste{
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .paneliste-social {
                margin-top: 15px;
            }
            &-name{
                font-family: "OswaldBold";
                font-size: 1rem;
            }
            &-cover{
                width: 100px;
                height: 100px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .logo-odc{
        display: none;
    }
    .home-head{
        display: flex;
        flex-direction: column-reverse;
        padding: 30px 0px;
    } 
    .panel-container {
        padding: 30px;
        .panelistes {
            display: grid;
            padding-top: 30px;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            width: 100%;
        }
    }
    .meetup-container{
        padding: 10px 30px;
        &:before{
            width: 20rem;
            height: 20rem;
            border-radius: 20rem;
            top: 1rem;
            left: 5rem;
        }
    }
    .talk{
        .speaker-cover{
            img{
                height: 100px !important;
                width: 100px !important;
                position: relative;
            }
        }
        .talk-title{
            font-size: 1.2rem !important;
        }
        .speaker-name{
            font-size: 1rem !important;
        }
    }

}

.logo-odc{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.add-to-cal {
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    &.google-cal{
        background: #EA4335;
        color: #fff;
    }
    &:outloo-cal{

    }
}

.calendars{
    display: flex;
    align-items: center;
    gap: 20px;
}